body {
  position: relative;
}

.App {
  text-align: center;
}

.Pagination {
  margin-top: 50px;
  position: absolute;
  right: 50%;
  transform: translate(50%);
}

.Cart {
  background-color: #7926ff;
  width: 500px;
  position: absolute;
  right: 50%;
  transform: translate(50%);
  border-radius: 35px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 19px 13px 52px 2px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 19px 13px 52px 2px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 19px 13px 52px 2px rgba(0, 0, 0, 0.34);
  margin-top: 200px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  background-color: white;
  box-shadow: 3px 15px 44px -20px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 15px 44px -20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 15px 44px -20px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 25%;
}

.NavItem {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  background-color: white;
  padding: 5px 15px 7px 15px;
}

.NavItem:hover {
  border-bottom: 3px solid #4d17a3;
}

.Input {
  height: 20px;
  border-radius: 10px;
  color: "#7926ff";
  border: "none";
}

.Grid {
  background-color: red;
  width: 700px;
  margin: 50px auto;
}

.categoryLinks {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: rgb(121, 38, 255);
  background: linear-gradient(
    90deg,
    rgba(121, 38, 255, 1) 0%,
    rgba(133, 37, 168, 1) 100%
  );
  padding: 10px;
  transition: 0.5s;
}

.categoryLinks:hover {
  background: rgb(121, 38, 240);
  background: linear-gradient(
    90deg,
    rgba(121, 38, 240, 1) 0%,
    rgba(133, 37, 135, 1) 100%
  );
}

.LogoutHover {
  color: "white";
  transition: 0.5s;
}

.LogoutHover:hover {
  background: rgb(45, 7, 100);
  background: linear-gradient(
    0deg,
    rgba(90, 0, 200, 1) 100%,
    rgba(121, 38, 240, 1) 100%
  );
}
